body{

    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(56, 55, 54);
    color: aliceblue;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(255, 255, 255);
}
div {
     display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    max-width: 100%; 

    
    
}
 img{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    max-width: 100%;
    border: 7px solid;
    border-radius: 30px;
    border-color:rgb(255, 255, 255);
}
p{
    width: 500px;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 350px;
     display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    max-width: 100%;
}


button{
    display: flex;
    justify-content: center;
    align-items: end;
    place-items: end;
    width:60px;
    border-radius: 70%;
   
}

footer p {
    font-size: small;
    font-style: italic;
    
}



